@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all browsers */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

/* Extra padding for the horizontal scroller */
.pokemon-type-scroller {
    padding-left: 2rem;
    padding-right: 2rem;
}